<div class="header" ng-controller="MenucontrollerCtrl as menu">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">apiFront</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="{ active :menu.isActive('/') }"><a href="/">Inicio</a></li>
          <li ng-class="{ active :menu.isActive('/about') }"><a ng-href="/about">Nosotros</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <!--<img ng-src="{{menu.user.avatar}}" class="profile-image img-circle" alt="">-->
              {{menu.user.name}} <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="text-center">
                        <span class="icon-size">
                          <!--<img ng-src="{{menu.user.avatar}}" alt="" class="img-circle">-->
                        </span>
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{menu.user.name}}</strong></p>
                      <p class="text-left small">{{menu.user.email}}</p>
                      <p class="text-left">
                        <a class="btn btn-primary btn-block btn-sm">
                          Actualizar Datos
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a class="btn btn-danger btn-block" ng-click="menu.logout()">  Cerrar Sesiôn</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>